@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Member Management System</h1>
    <p class="lead">Lions Club: Member Management System</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h4>Navigate to other pages from the menu on the left side. And logout the system from right-top profile button.  </h4>
    </div>
</div>